Django              
django-crispy-forms     
mysqlclient         
setuptools          
simplejson          
sqlparse            
tzdata              
wheel               
whitenoise        
pillow  
xhtml2pdf

